<div>
	<div style="display: none;" th:fragment="title" th:inline="text">開始登錄您的商品</div>


	<h1 id="about_us_title">
		<span th:text="#{sellerList.title}">List it</span>
	</h1>



	<div class="row">
		<div id="produce_models">
			<div class="col-md-3  text-center models">
				<input type="radio" name="produce_model" value="iPhone 6" /> <img
					th:src="@{/img/list/iphone_6.png}" alt="iphone_6" />
				<h3>iPhone 6</h3>
			</div>

			<div class="col-md-3 text-center models">
				<input type="radio" name="produce_model" value="iPhone 6 Plus" /> <img
					th:src="@{/img/list/iphone_6_plus.png}" alt="iphone_6_plus" />
				<h3>iPhone 6 Plus</h3>
			</div>

			<div class="col-md-3 text-center models">
				<input type="radio" name="produce_model" value="iPhone 5S" /> <img
					th:src="@{/img/list/iphone_5s.png}" alt="iphone_5s.png" />
				<h3>iPhone 5S</h3>
			</div>

			<div class="col-md-3 text-center models">
				<input type="radio" name="produce_model" value="iPhone 5C" /> <img
					th:src="@{/img/list/iphone_5c.png}" alt="iphone_5c.png" />
				<h3>iPhone 5C</h3>
			</div>

			<div class="col-md-3 text-center models">
				<input type="radio" name="produce_model" value="iPhone 5" /> <img
					th:src="@{/img/list/iphone_5.png}" alt="iphone_5.png" />
				<h3>iPhone 5</h3>
			</div>

			<div class="col-md-3 text-center models">
				<input type="radio" name="produce_model" value="iPhone 4S" /> <img
					th:src="@{/img/list/iphone_4s.png}" alt="iphone_4s.png" />
				<h3>iPhone 4S</h3>
			</div>

			<div class="col-md-3 text-center models">
				<input type="radio" name="produce_model" value="iPhone 4" /> <img
					th:src="@{/img/list/iphone_4.png}" alt="iphone_4.png" />
				<h3>iPhone 4</h3>
			</div>

			<div class="col-md-3 text-center models">
				<input type="radio" name="produce_model" value="iPhone 3GS" /> <img
					th:src="@{/img/list/iphone_3gs.png}" alt="iphone_3gs.png" />
				<h3>iPhone 3GS</h3>
			</div>

			<div class="col-md-3 text-center models others">
				<input type="radio" name="produce_model" value="others" /> <img
					th:src="@{/img/list/others.png}" alt="others.png" />
				<h3>
					<span th:text="#{sellerList.model.others}">Others</span>
				</h3>
			</div>

			<div class="col-md-12 text-center" id="sellerList_next1">
				<a
					onClick="ga('send', 'event', { eventCategory: 'seller-List-model', eventAction: 'click'});">
					<input type="button" class="btn btn-danger btn-xlarge"
					th:value="#{sellerList.next}" />
				</a>
			</div>


		</div>
		<!-- produce_models -->

		<div id="basic_filter_question" class="col-md-12">

			<div class="col-md-3 text-center" id="produce_img"></div>

			<div class="col-md-6" id="produce_questions">

				<div class=" btn-group btn-toggle ">
					<h3>
						<span th:text="#{sellerList.question1}">question1</span>
					</h3>
					<button class="btn btn-default " id="btn-box">是</button>
					<button class="btn btn-info ">否</button>
				</div>
				<br />

				<div class="btn-group btn-toggle ">
					<h3>
						<span th:text="#{sellerList.question2}">question2</span>
					</h3>
					<button class="btn btn-default btn-yes" id="btn-charge">是</button>
					<button class="btn btn-info ">否</button>
				</div>

				<div class="btn-group btn-toggle ">
					<h3>
						<span th:text="#{sellerList.question3}" >question3</span>
					</h3>
					<button class="btn btn-default btn-yes" id="btn-functional">是</button>
					<button class="btn btn-info ">否</button>
				</div>

				<div class="btn-group btn-toggle ">
					<h3>
						<span th:text="#{sellerList.question4}">question4</span>
					</h3>
					<button class="btn btn-default btn-yes" id="btn-good">是</button>
					<button class="btn btn-info ">否</button>
				</div>

				<h3>
					<span th:text="#{sellerList.question5}">question5</span> <a
						id="imei_tutorial" class="btn btn-default" rel="popover"
						data-content="行動通訊國際識別碼，相當於手機的身份證號碼，以確保手機的來源。"><span
						th:text="#{sellerList.question5.hint}">what is imei?</span></a>
				</h3>
				<input type="text" class="form-control" id="inputIMEI"
					onkeydown="return isNumber(event);"
					placeholder="在手機中輸入*#06# 即可看到手機IMEI碼。" />
			</div>

			<div class="col-md-3 text-center" id="produce_price">

				<h2>
					<span th:text="#{sellerList.setprice}">set price</span>
				</h2>

				<p id="seller_price"> 15000元</p>
				<input type="range" min="1000" max="30000" value="15000" step="10"
					id="setprice" onchange="price_change(this.value)" />

				<div class="panel-group" id="accordion">


					<div class="panel panel-default" id="paid_panel">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseThree"
									href="#collapseThree" class="collapsed" id="paid_title">現賺13500元<span class="glyphicon glyphicon-question-sign"></span>
									</a>
							</h4>
							
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body" id="paid_detail"><span th:text="#{sellerList.paid_panel_explain}"></span></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 text-center " id="sellerList_next2">
				<a
					onClick="ga('send', 'event', { eventCategory: 'seller-List-price', eventAction: 'click'});">
					<input type="button" class="btn btn-danger btn-xlarge"
					th:value="#{sellerList.next}" />
				</a>
			</div>

		</div>



		<!-- basic_filter_question -->


	</div>


</div>
<script src="../../js/home.js" th:src="@{/js/sellerList.js}"></script>
