target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
site/data/
.svn
site/solrhome
combined/data/
combined/solrhome
*.error
*/.DS_Store
admin/target/m2e-wtp/web-resources/META-INF/MANIFEST<MF
admin/target/admin/WEB-INF/classes/rebel.xml
*/lib/jrebel/licensing.info
