target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
site/data/
.svn
site/solrhome
combined/data/
combined/solrhome
*.error

admin/target/m2e-wtp/web-resources/META-INF/maven/com.mycompany/admin/pom.properties
