@media only screen and (min-width : 320px) and (max-width : 480px) {
	
}

/* =============================================================================
    For iPad tablets in portait orientation
   ========================================================================== */
@media only screen and (width : 768px) and (orientation:portrait) {
	
}


/* ===== Primary Styles ========================================================
   Author: chris
   ========================================================================== */

/* Nav Bar */
.navbar {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	background-color: #242424;
	width: 100%;
	height: 20px;
}

.navbar-brand {
	font-weight: 700;
	color: #fff;
}

#brand {
	font-size: 25px;
	color:#ffd500;
}

.navbar-brand:focus {
	outline: 0;
}

.navbar-custom a {
	font-size: 20px;
	
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.navbar-custom .nav .page-scroll a:hover,.navbar-custom .nav .page-scroll a:focus,.navbar-custom .nav .page-scroll.active
	{
	outline: 0;
	color:#fff;
	background-color: transparent;
	/*background-color: rgba(23, 110, 97, .2);*/
	/*background-color: #176e61;*/
}

.navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}

.navbar-toggle:focus,.navbar-toggle:active {
	outline: 0;
}

.navbar-custom .nav .page-scroll a {
	color:#ffd500;
}
   