<div>
	<div style="display: none;" th:fragment="title" th:inline="text">Still
		Working - Broadleaf Demo - Heat Clinic</div>



	<div id="cart">
		<form class="form-horizontal text-center" role="form">
			<h1><span th:text="#{working.title}">Still Working</span></h1>
			<h4 id="working_content"><span th:text="#{working.content}">Put your email here. We will contact you once we are ready</span></h4>
			<img th:src="@{/img/coming-soon.png}" alt="comming soon" />
			<div class="form-group">
				<h4 id="collect_email"><span th:text="#{working.getEmail}">collect email</span></h4>
				<label for="inputPassword" class="col-md-3 control-label">Email</label>
				<div class="col-md-4">
					<input type="email" class="form-control" placeholder="Enter email"/>
				</div>
				<input type="button" class="btn btn-danger col-md-2" th:value="#{working.EmailSubmit}" />
				<!-- col-md-10 -->
				
			</div>
			<!-- form group -->
		</form>
	</div>

</div>
