<div>
	<div style="display: none;" th:fragment="title" th:inline="text">Still
		Working</div>



	<div id="cart">
		<form class="form-horizontal text-center" role="form">
			<h1><span th:text="#{working.title}">Still Working</span></h1>
			<h4 id="working_content"><span th:text="#{working.content}">Put your email here. We will contact you once we are ready</span></h4>
			<img th:src="@{/img/coming-soon.png}" alt="comming soon" />
			<div class="form-group">
				<h4 id="collect_email"><span th:text="#{working.getEmail}">collect email</span></h4>
				<label for="inputPassword" class="col-md-3 control-label">您的 Email</label>
				<div class="col-md-4">
					<input type="email" class="form-control" th:placeholder="#{working.EmailPlaceHolder}"/>
				</div>
				<a href="" onClick="ga('send', 'event', { eventCategory: 'send-email', eventAction: 'click'});"><input type="button" class="btn btn-danger col-md-2" th:value="#{working.EmailSubmit}" /></a>
				<!-- col-md-10 -->
				
			</div>
			<!-- form group -->
		</form>
	</div>

</div>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-53951020-1', 'auto');
	ga('send', 'pageview');

</script>