<div id="account">
	<div style="display: none;" th:fragment="title" th:inline="text"> 會員登入 -  二手競技場 </div>

	<div id="login">
		<h2>
			<span th:text="#{login.loginToAccount}">Login to Your Account</span>
		</h2>
		<!--         <p><span th:text="#{login.alreadyMember}">Already a member? Sign in using the form below</span>.</p> -->
		<div class="col-md-12">
			<span class="error" th:if="${param.error}">
				<h4>
					<span th:text="#{login.noMatchTryAgain}">The e-mail address
						and/or password entered do not match our records. Please try again</span>
				</h4>
			</span>
		</div>
		<div class="clearfix">
			<blc:form th:action="@{/login_post.htm}" method="post">
				<input type="hidden" name="successUrl" th:if="${successUrl}"
					th:value="${successUrl}" />
				<div class="col-md-12">
					<div class="form50">
						<h3 for="j_username"><span th:text="#{login.email}">Email</span></h3>
						<input type="email" name="j_username"
							th:class="${param.error} ? 'field50 fieldError' : 'field50'" />
					</div>
				</div>
				<div class="col-md-12">
					<div class="form50">
						<h3 for="j_password"><span th:text="#{login.password}">Password</span></h3>
						<input type="password" name="j_password"
							th:class="${param.error} ? 'field50 fieldError' : 'field50'" />
					</div>
				</div>
				<div class="col-md-12">
					<div class="login_register">
						<input class="login_button big red" type="submit"
							th:value="#{login.login}" />
					</div>

					<div class="login_register_alt_links">
						<a class="account" th:href="@{/register}" onClick="ga('send', 'event', { eventCategory: 'Reg_btn', eventAction: 'click'});"><span
							th:text="#{login.register}">Register</span></a> <br /> <a
							class="account" th:href="@{/login/forgotPassword}" onClick="ga('send', 'event', { eventCategory: 'forget_pw', eventAction: 'click'});"><span
							th:text="#{login.forgotPassword}">Forgot Password</span></a>
					</div>
				</div>
			</blc:form>
		</div>
	</div>
</div>